{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{% block title %}

{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
 <meta name="description" content="爱·回来情感，情感咨询与培训机构，千名情感导师致力于修复感情关系，分离小三，挽回爱情，挽回女友，挽回男友等服务">
<meta name="keywords" content="挽回爱情,挽回男友,挽回女友,挽救婚姻,分离小三,经营婚姻,谈恋爱的技巧">
 <meta name="renderer" content="webkit">
    <base target="_blank" />

{% block extCSS %}

{% endblock %}


{% block header %}

{% endblock %}

{% block extJS %}

{% endblock %}

{% block content %}

{% endblock %}

