
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<title>花镇情感|情感咨询与规划标杆品牌|情感培训机构</title>
    <meta name="description" content="花镇情感，女性婚恋咨询与培训机构，千名情感导师致力于修复婚姻关系，分离小三，挽回爱情，挽回女友，挽回男友等服务">
<meta name="keywords" content="挽回爱情,挽回男友,挽回女友,挽救婚姻,分离小三,经营婚姻,谈恋爱的技巧">
    <link rel="stylesheet" href="http://a.huazhen.com/huazhen_revision/pc/account/css/style.css?v=124">
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/sub_ks.js"></script>
    <script src="/static/js/login.js"></script>
    <meta name="csrf-token" content="hd6t7S7lbfBskQicKsWWO6pSRRZXR7992QYe3I2Y">
</head>
<body>
<!-- 头部 -->
<div class="login-header">
    <div class="login_top">
        <p>
            <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon1.png" alt="">
            客服：<span>400-0173-520</span> 工作时间&nbsp;9:00-23:00
        </p>
        <ul>
            <li>
                <img src="http://a3.h.png" alt="">
                <a class="kefu_btn">售前咨询</a><span>|</span>
            </li>
            <li>
                <img src="http://a3.g" alt="">
                <a class="kefu_btn">售后客服</a><span>|</span>
            </li>
            <li class="erweima_show">
                <img src="http://a3.huaz.png" alt="">
                <a class="erweima_show">微信服务号</a>
                <img class="erweima" src="http://a3.huazhen.com/huazhen_revision/pc/account/images/tu1.png" alt="">
                <span>|</span>
            </li>
            <li>
                <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon4.png" alt="">

                <i></i>
            </li>
        </ul>
    </div>
</div>
<div class="contain">
    <div class="con">
        <div class="logo">
            <img src="/static/img/logo.png" alt="">
        </div>
        <div class="main">
            <div class="left" style="display:none">
                <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/img01.png" alt="">
            </div>
                <div class="right">
        <div class="right-top"><i></i><span>没有最好，只有更好</span><i></i></div>
        <div class="right-box">
            <div class="tab">
                <p class="acc cur">
                    <span class="acc">账号登录</span>
                </p>
                <p>
                    <span></span>
                </p>
                <i></i>
            </div>
            <div class="form-item" >

                 <form action="" method="post">

                    <div class="form-group ">
                           {% csrf_token %}
                        <div class="input-group">

                            <input id="login-id" type="text" placeholder="用户名" class="form-control text-input text-name" name="username"/>
                        </div>
                        <div class="input-group test">
                            <input id="login-msg" type="password" name="password" class="form-control text-input text-pass" placeholder="密码"/>
                         </div>
                        {{ msg }}
                        <div class="input-group forget">
{#                            <a href="/love/reset" style="display:block;">忘记密码?</a>#}
                        </div>
                        <div class="input-group">
                            <input class="btn noin " id="login_user" type="submit" value="登 录">
                        </div>
                        <div class="zc">
                            <a href="/love/regist/">还没爱·回来账号？立即注册 ></a>
                        </div>
                        <input type="hidden" name="return_url" value="">
                        <input type="hidden" name="_token" value="hd6t7S7lbfBskQicKsWWO6pSRRZXR7992QYe3I2Y">
                    </div>
                </form>
            </div>
            <div class="form-item" style="display:none">
                <div class="">
                    <div  id="login_container" style="text-align: center;"></div>
                </div>
                <!-- <div class="ewm-p">
                    请使用微信扫描二维码登录"网"
                </div> -->
            </div>

        </div>
    </div>
        </div>
    </div>
</div>
<div class="login-footer">
    <p>
        © 2016 IHuiLai,Inc. All Rights Reserved.粤ICP备16060296号 咨询热线: 400-0173-511  成都-高新区-天府四街
    </p>

</div>
<script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?f47943735acae5e0af98eaffa6472fb6";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();</script></body>
</html>

<script>

</script>
