
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<title>花镇情感|情感咨询与规划标杆品牌|情感培训机构</title>

    <link rel="stylesheet" href="http://a.huazhen.com/huazhen_revision/pc/account/css/style.css?v=124">
    <script src="http://huazhen-upload.oss-cn-hangzhou.aliyuncs.com/weixin-js/jquery-1.7.2.min.js"></script>
    <script src="http://a2.huazhen.com/new_huazhen/js/sub_ks.js"></script>
    <script src="http://a2.huazhen.com/huazhen_revision/pc/account/js/login.js"></script>
    <meta name="csrf-token" content="hd6t7S7lbfBskQicKsWWO6pSRRZXR7992QYe3I2Y">
</head>
<body>
<!-- 头部 -->
<div class="login-header">
    <div class="login_top">
        <p>
            <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon1.png" alt="">
            客服：<span>400-0173-520</span> 工作时间&nbsp;9:00-23:00
        </p>
        <ul>
            <li>
                <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon_1.png" alt="">
                <a class="kefu_btn">售前咨询</a><span>|</span>
            </li>
            <li>
                <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon2.png" alt="">
                <a class="kefu_btn">售后客服</a><span>|</span>
            </li>
            <li class="erweima_show">
                <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon3.png" alt="">
                <a class="erweima_show">微信服务号</a>
                <img class="erweima" src="http://a3.huazhen.com/huazhen_revision/pc/account/images/tu1.png" alt="">
                <span>|</span>
            </li>
            <li>
                <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon4.png" alt="">
                <a href="/study/course" rel="nofollow">登录爱情管家</a>
                <i></i>
            </li>
        </ul>
    </div>
</div>
<div class="contain">
    <div class="con">
        <div class="logo">
            <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/logo.png" alt="">
        </div>
        <div class="main">
            <div class="left" style="display:none">
                <img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/img01.png" alt="">
            </div>
                <div class="right">
        <div class="right-top"><i></i><span>没有最好，只有更好</span><i></i></div>
        <div class="right-box">
            <div class="tab register">
                <p class="acc cur">
                    <span class="acc">欢迎注册</span>
                </p>
                <div class="tab-right">
                    已经注册 <a href="/love/login/">直接登录</a>
                </div>

            </div>

        <form action="" method="post" id="register-form">
            {% csrf_token %}
                <input type="hidden" name="_token" value="hd6t7S7lbfBskQicKsWWO6pSRRZXR7992QYe3I2Y">
            <div class="form-item" >
                <!--注册from-->
                <div class="form-group ">
                    <div class="input-group">
                         <input type="text" class="form-control retpadding text-input" placeholder="请输入用户名" id="register-mobile" name="username"/>

                        <input type="text" class="form-control retpadding text-input" placeholder="请输入手机号码" id="register-mobile" name="mobile"/>


                        <label for="register-mobile" class="error"></label>
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-control retpadding text-input" placeholder="密码由6-20位字母，数字和符号组成"

                               id="register-password" name="password" id="register-password"/>
                        <label for="register-password" class="error"></label>

                    </div>
                    <div class="input-group">
                        <input type="password" class="form-control retpadding text-input" placeholder="请再次输入上面的密码"  name="password2" id="register-password2" />
                        <label for="register-password2" class="error"></label>
                    </div>



{#                    <div class="input-group input-group2">#}
{#                        <input type="text" class="form-control retpadding note text-input" placeholder="图形验证码" name="captcha"#}
{#                               id="register-captcha" required/>#}
{#                        <label for="register-captcha" class="error" style="right:48%;"></label>#}
{#                        <div class="captcha">#}
{#                            <img src="http://www.huazhen.com/captcha/default?tplimTY1" alt="captcha" onclick="this.src='http://www.huazhen.com/captcha/default?SnpSjRkE&t='+Math.random()">#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="input-group input-group2">#}
{#                        <input type="text" class="form-control retpadding note text-input" placeholder="短信验证码" name="verify_code"#}
{#                               id="register-code" required/>#}
{#                        <label for="register-code" class="error" style="right:48%;"></label>#}
{#                        <input class="get-msg" id="register-get-code" value="获取验证码" type="button">#}
{#                    </div>#}


{#                    <div class="input-group">#}
{#                        <div class="dropdown">#}
{#                            <input type="hidden" class="form-control retpadding text-input" placeholder="预约咨询时间" id="dropdown-input"#}
{#                                   name="consult-time"/>#}
{#                            <label for="login-time" class="error"></label>#}
{#                            <span class="dropdown-title">预约咨询时间</span>#}
{##}
{#                            <ul name="consult-time" class="dropdown-items">#}
{#                                <div class="ul-p">预约咨询时间</div>#}
{#                                <li class="dropdown-item" data-value="1">早上： 9:00-12:00</li>#}
{#                                <li class="dropdown-item" data-value="2">中午：13:00-17:00</li>#}
{#                                <li class="dropdown-item" data-value="3">晚上：18:00-21:00</li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}


                    <div class="input-group">
{#                        <input type="submit" class="btn nomargin" value="注册">#}
                        <input class="btn nomargin" type="submit" value="立 即 注 册" id="">
                    </div>

                    <input type="hidden" name="channelName" value="竞价-花镇-官网">
                    <input type="hidden" name="channel_code" value="490640b43519c77281cb2f8471e61a71">
                    <div class="input-group yhxy" >
                        <input class="reset" type="checkbox" id="register-checkbox" >
                        <label for="register-checkbox" style="display:inline-block;">我已接受并阅读<span onclick="window.open('/huazhen_agreement')">《花镇用户协议》</span></label>
                    </div>
                </div>
            </div>
            <div class="right-bottom register">
                <ul>
                    <li>
                        <span><img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon-03.png" alt=""></span>
                        个性化
                    </li>
                    <li>
                        <span><img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon-04.png" alt=""></span>
                        品质化
                    </li>
                    <li>
                        <span><img src="http://a3.huazhen.com/huazhen_revision/pc/account/images/icon-05.png" alt=""></span>
                        高端化
                    </li>
                </ul>
            </div>
        </form>
        </div>
    </div>
        </div>
    </div>
</div>
<div class="login-footer">
    <p>
        © 2016 HuaZhen,Inc. All Rights Reserved.粤ICP备16060296号 咨询热线: 400-0173-520 广州花镇教育咨询有限公司
    </p>

</div>
<script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?f47943735acae5e0af98eaffa6472fb6";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();</script></body>
</html>
<script>
    $('.dropdown .dropdown-title').click(function(event) {
        $('.right-box .input-group .dropdown-items').show();
    });
    $('.dropdown-item').on('click',function(){
        var vid = $(this).data('value');
        $('#dropdown-input').val(vid);
        $('.dropdown-items').hide();
        $('.dropdown-title').text($(this).text());
    });
</script>
